.col {
    float: left;
    padding: 5px;

}

.row::after {
    content: "";
    clear: both;
    display: table;
}
body{background-color:black;}
.article{width:100%;
  width:100%;
  border: 15px solid green;
  padding: 2%;
  margin: 1%;
background-color:black;
color:white;}

.aside{width:100%;
  border: 15px solid green;
  padding: 2%;
  margin: 1%;
background-color:white;
color:black;}

.header{width:100%;
background-color:forestgreen;
width:100%;
  color:white;
width:100%;
 width:100%;
  border: 15px darkorange;
  padding: 2%;
  margin: 1%;}
  }
.span2{
 
  width:100%;
}

.container{width:100%;}


body{
 
  text-align:center;
}

image{aqlign:center;}
footer{background-color:darkorange;
width:100%;
  border: 15px solid green;
  padding: 2%;
  margin: 1%;
color:white;}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: orange;
}

.active {
  background-color: darkorange;
}
